<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__title">
                <h2>Have a Project?</h2>
                <span>let’s discuss!</span>
            </div>
            <form class="footer__item">
                <input class="footer__item-name" type="text" placeholder="your name">
                <input class="footer__item-mail" type="text" placeholder="miranbuke@gmail.com">
                <input class="footer__item-about-project" type="text" placeholder="few words about project">
                <div class="top__item-btn footer">
                    <a href="#">start project</a>
                    <img src="./img/arrow-right.png" alt="">
                    <span></span>
                </div>
            </form>
        </div>
    </div>
    <div class="footer__bottom">
        © 2021, extenso.io
    </div>
</footer>

<script src="js/jquery.min.js"></script>
<script src="js/slick.js"></script>
<script src="js/ion.rangeSlider.js"></script>
<script src="js/my.js"></script>
<script src="js/wow.min.js"></script>
<script>
    new WOW().init();
</script>