<header class="header">
	<div class="container">
		<div class="header__wrapper">
			<a class="header__logo" href="#">
				<img src="../img/logo.svg" alt="">
			</a>
			<div class="header__contact">
				<a class="header__contact-number" href="#">+380 (93) 123 45 67</a>
				<a class="header__contact-mail" href="#">hello@extenso.io</a>
			</div>
			<ul class="header__language">
				<li class="header__language-item active">
					<a href="#">En</a>
				</li>
				<li class="header__language-item">
					<a href="#">Ru</a>
				</li>
			</ul>
		</div>
	</div>
</header>