html * {
	box-sizing: border-box;
}

body{
    // font-family: $font-main;
    // font-size: 14px;
    background-color: #010119;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    // overflow-x: hidden;
    position: relative;
    // min-width: 320px;
    // overflow-x: hidden;
   
    
}

.container{
    max-width: 1248px;
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
    @media (max-width: 767px){
        padding: 0 16px;
    }
    &.technology{
        @media(max-width: 1279px){
            padding: 0 100px;
        }
        @media (max-width: 767px){
            padding: 0 16px;
        }
    }
}

h1{
    margin: 0;
    padding: 0;
}

h2{
    margin: 0;
    padding: 0;
}

h3{
    margin: 0;
    padding: 0;
}

p{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: #fff;
}

ul{
    padding: 0;
    margin: 0;
}

li{
    list-style-type: none;
}

.main{
    background-color: #4045ba;
}

